#section1{
    background-color: rgb(245, 240, 230);
}

#section2{
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.sections {
    display: inline-block;
    width: 100%;
    scroll-margin-top: 55px;
}

.sections img{
    max-width: 100%;
}

#navbar{
    position: sticky;
    top: 0;
    width:400px;
    float: left;
    padding:10px 0;

}

ul{  
    padding: 0;
    margin: 0; 
}

ul li{
    display: inline-block;
    list-style: none;
    padding: 0;
}
ul li a{
    text-decoration: none;
    background-color: white;
    color: #182b49;
    padding: 10px;
}
ul li a:hover{
    background-color: #182b49;
    color:white;
}

#section3{
    background-color: rgb(245, 240, 230); 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:50px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-item {
    background-color: #182b49; 
    color: white; 
    margin: 30px;
    max-height: 500px; /* Limit the height of the boxes */
    overflow-y: scroll; 
    width: 100%; 
    line-height: 1.6;
}
.grid-item p {
    margin:20px;
}
body{
    font-size: 28px;
}

@media screen and (max-width: 800px) {
    #navbar ul {
        display: none;
    }
    #logo {
        max-width: 75%;
    }
    h2{
        font-size: 24px;
    }
    
    p{
        font-size: 20px;
    }
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}